
$primary-color: #673ab7;
$primary-dark-color: rgba($primary-color, 0.88);
$accent-color: #ffd740;
$warn-color: #f44336;
$rosso-color: #d60000;
$nature-green-color: #468129;
$light-green-color: #28c26e;
$blue-color: #461fb3;

$bg-light-grey: #f2f2f2;
$bg-light-primary: rgba($primary-color, 0.2);
$bg-nature-green-light: rgba($nature-green-color, 0.2);

$border-color: #d5d5d5;
$border-color-light: gainsboro;
$border-color-dark: #a5a4a4;
