<div class="product-management-container">
  <div class="product-form-container">
    <h3>Add product</h3>
    <form [formGroup]="productForm" class="product-form">
      <mat-form-field appearance="outline">
        <mat-label>Product name</mat-label>
        <input formControlName="name" matInput placeholder="Product name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput style="height: 130px;"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          @for(category of categories; track category) {
            <mat-option value="{{category}}">{{category}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input formControlName="price" type="number" step="5" matInput placeholder="0">
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input formControlName="image" #fileInput type="file" accept="image/*" hidden="true"
          (change)="onImageSelect($event)" style="width: 176px; margin-right: 6px;">
        <input matInput readonly [placeholder]="selectedImgName || 'Product image'">
        <mat-button color="primary" matSuffix (click)="fileInput.click()"><mat-icon>attach_file</mat-icon></mat-button>
      </mat-form-field>

      <div class="prod-img-selected" [ngStyle]="{'background-image': 'url(' + selectedImgSrc + ')'}">
      </div>

      <button mat-flat-button color="primary" (click)="addProduct()">Add</button>
    </form>
  </div>

  <mat-divider [vertical]="true" class="sides-divider"></mat-divider>

  <div class="product-list-container">
    <table class="product-list-table" cdk-table [dataSource]="productDataSource">
      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef> Name </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container cdkColumnDef="description">
        <th cdk-header-cell *cdkHeaderCellDef> Description </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container cdkColumnDef="category">
        <th cdk-header-cell *cdkHeaderCellDef> Category </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Image Column -->
      <ng-container cdkColumnDef="image">
        <th cdk-header-cell *cdkHeaderCellDef> Image </th>
        <td cdk-cell *cdkCellDef="let element">
          <img class="product-image" [src]="getImageSrc(element.image)">
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container cdkColumnDef="price">
        <th cdk-header-cell *cdkHeaderCellDef> Price </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container cdkColumnDef="del">
        <th cdk-header-cell *cdkHeaderCellDef> Del </th>
        <td cdk-cell *cdkCellDef="let element">
          <button mat-icon-button color="warn" (click)="onProductDelete(element._id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>