<mat-toolbar color="primary" class="mat-app-background">
    <button mat-icon-button aria-label="Product icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>FE features</span>
    <mat-list style="display: flex; align-items: center; margin-left: 10px; margin-top: 2px;">
        <a [routerLink]="['/products']" mat-flat-button color="primary">Products</a>
        <a [routerLink]="['/info']" mat-flat-button color="primary">Info</a>
    </mat-list>

    <span class="product-spacer"></span>
    <a [routerLink]="['/user']">
        <button color="accent" mat-icon-button aria-label="Product icon-button with user icon">
            <mat-icon>person</mat-icon>
        </button>
    </a>
    <button mat-icon-button aria-label="Product icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>