<mat-toolbar color="primary" class="mat-app-background">
    <button mat-icon-button aria-label="Product icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>FE features</span>
    <mat-list style="display: flex; align-items: center; margin-left: 10px; margin-top: 2px;">
        <a [routerLink]="['/products']" mat-flat-button color="primary">Products</a>
        <a [routerLink]="['/info']" mat-flat-button color="primary">Info</a>
    </mat-list>

    <span class="product-spacer"></span>
    <a [routerLink]="['/user']" mat-icon-button>
            <mat-icon>person</mat-icon>
    </a>
    <a [routerLink]="['/login']" mat-icon-button>
        <mat-icon>login</mat-icon>
    </a>
    
</mat-toolbar>
<router-outlet></router-outlet>