.product-management-container {
    display: flex;
    padding-right: 20px;
}

.product-form-container {
    width: 40%;
    padding: 0 20px;

    h3 {
        margin: 20px 0 0 20px;
    }

    .product-form {
        min-height: fit-content;
        padding: 20px 0;
        display: flex;
        flex-direction: column;

        &::ng-deep {
            .mat-mdc-form-field-flex {
                overflow: hidden;
            }
        }

        .prod-img-selected {
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    button {
        width: 100%;
        margin: 10px auto;
    }
}

.orders-management-container {
    padding: 20px;
    button {
        width: 200px;
        margin: 10px auto;
    }
}

.sides-divider {
    margin-right: 20px;

    @media screen and (max-width: 500px) {
        margin: 0 10px;
    }
}

.product-list-container {
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;

    @media screen and (max-width: 500px) {
        padding: 20px 10px;
    }
}